*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    color: #FFF;
    min-height: 100vh;
    display: block;
}

main{
    min-height: inherit;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.titulo{
    margin-top: 40px;
}

.titulo span{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    display: block;
    text-align: center;
}

.titulo h1{
    margin-top: 60px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 116.64px;
    text-align: center;
}

.conteudo{
    margin-top: 130px;
    display: flex;
    justify-content: center;
}


.card{
    width: auto;
    margin-right: 50px;
}

.descricao{
    display: grid;
    grid-template-columns: 1fr;
}

.descricao p{
    width: 60ch;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.avalicao{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.time{
    display: flex;
    align-items: center;
    font-size:24px;
    font-weight: 700;
    line-height: 29.16px;
}

.time img{
    padding-right: 5px;
}

.ano{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.16px;
    margin-right: 20px;
}

.botoes{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.btn1{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    background-color: #0072D2;
    padding: 15px 27px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.btn2{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: #131318fd;
    padding: 15px 25px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    border: 1px solid #FFF;
    cursor: pointer;
}

.btn1:hover{
    background-color: #2787d6;
}

.btn2:hover{
    opacity: 0.7;
}


@media (max-width: 1000px) {
    .card{
        display: none;
    }

    main{
        justify-content: space-between;
    }
}

@media (max-width: 730px) {
    .titulo span{
        font-size: 1.125rem;
    }

    .titulo h1{
        font-size: 4rem;
    }

    .time{
        font-size: 1rem;
    }

    .time img{
        width: 18px;
    }

    .stars img{
        width: 20px;
    }

    .ano{
        font-size: 1rem;
        margin-right: 0px; 
    }

    .avalicao{
        padding: 20px 30px;
        margin: 0px;
    }

    .descricao p{
        border-top: 4px solid  #C4C4C414;
        grid-row: 3;
        background-color: #19191F;
        width: 100%;
        padding: 20px 30px;
        font-size: 0.87rem;
        line-height: 19.6px;
    }

    .botoes{
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 0px;
        background-color: #19191F;
        width: 100%;
        padding: 30px 30px;
        justify-content: space-between;
    }

    .btn1, .btn2{
        padding: 8px 16px;
        width: 50%;
        font-size: 0.87rem;
    }
}
